<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <form action="submit" method="post">{% csrf_token %}
        <div align="center">
            <h1>Login</h1>
            <label>Usuário:</label>
            <label>
                <input type="text" name="username">
            </label>
            <label>Senha:</label>
            <label>
                <input type="password" name="password">
            </label>
            <button type="submit">Entrar</button>
        </div>
    </form>
    {%for message in messages  %}
        <div align="center">
            <strong>Erro!</strong> {{ message }}
        </div>
    {% endfor %}
</body>
</html>